.wrapper {
    padding: 0 2rem;
    margin-bottom: 5rem;
  }
.hero{
    max-width: 100%;
    background-color: var(--peach);
    padding: 8rem 5rem;
    background-image: url(../../public/assets/home/desktop/bg-pattern-hero-home.svg);
    background-repeat: no-repeat;
    background-position: 100% 90px;
    overflow: hidden;
    border-radius: 20px;
}

.hero__container{
    display: grid;
    max-height: 360px;
    grid-template-columns: 50% 50%;
}
.hero__text{
    max-width: 500px;
    width: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    color: white;
}
.hero__text h1{
    font-size: 48px;
    line-height: 48px;
}
.hero__ilustration{
    display: block;
    position: relative;
    width: 100%;
}
.hero__ilustration img{
    object-fit: cover;
    transform: translateY(-11rem);
}

@media (max-width:900px){
    .hero{
        padding: 0 2rem;
        padding-bottom: 12rem;
        padding-top: 7rem;
    }
    .hero__container{
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
    }

    .hero__text{
       text-align: center;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
    }
    .hero__ilustration{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .hero__ilustration img{

        margin: auto;
        max-width: 500px;
        width: 100%;
        transform: translateY(-3rem);
    }
    .hero__text{
        max-width: 550px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        color: white;
    }
}
@media (max-width:705px){
    .wrapper{
        padding: 0rem ;
    }
    .hero{
        padding-bottom: 15rem;
        border-radius: 0;
    }
    .hero__ilustration img{
        margin: auto;
        max-width: 550px;
        width: 100%;
        transform: translateY(-2rem);
    }}

@media (max-width:570px){
    .hero__ilustration img{
        margin: auto;
        max-width: 550px;
        width: 100%;
    }
    .hero{
        padding: 5rem 1.5rem;

        padding-bottom: 18rem;
        max-height: 650px;
    }

    .hero__text h1{
        font-size: 32px;
        line-height: 36px;
        margin-top: 3.5rem;
    }
    .hero__text p{
        padding: 0 2rem;
    }
}
@media (max-width:520px){
    .hero__ilustration img{
        transform: translateY(0);
    }

}
@media (max-width:420px){
    .hero__ilustration{
        display: block;
        position: relative;
        width: 100%;
    }
    .hero__ilustration img{
        position: absolute;
        bottom: -390px;
    }

}
@media (max-width:330px){
    .hero__text h1{
        font-size: 25px;
        line-height: 28px;
        margin-top: 3rem;
        padding-top: 1rem;
    }
    .hero__text p{
        padding: 0 1rem;
    }
    .hero{
        padding: 5rem 1.5rem;

        padding-bottom: 18rem;
        max-height: 100%;
    }
}