/* location reel */

.location__menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 1.7rem;
    margin: 5rem 0;
  }
  .card__country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }
  .card__country h2 {
    margin: 2rem 0;
    font-weight: 500;
    letter-spacing: 3px;
  }
  .background__container {
    position: relative;
    transition: 300ms ease-in-out;
    overflow: visible;
  }
  .background__container:hover {
    transform: scale(1.1);
  }
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    background-image: url(../../public/assets/shared/desktop/bg-pattern-small-circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .card__country:nth-child(2) .background__container .background {
    transform: rotate(-90deg);
  }
  .card__country:nth-child(3) .background__container .background {
    transform: rotate(90deg);
  }
  .card__country a {
    background-color: var(--peach);
    color: white;
  }
  
  /* location reel */
  
  /* location page */
  .wrapper {
    padding: 0 2rem;
  }
  /* location page */
  
  /* location container */
  
  .container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 1.5rem;
    margin-bottom: 2.5rem;
    grid-auto-flow: dense;
  }
  .inverse__container {
    display: grid;
    grid-template-columns: 40% 56.5%;
    margin-bottom: 2.5rem;
    grid-gap: 1.5rem;
    grid-auto-flow: dense;
  }
  
  .container > *,
  .inverse__container > * {
    border-radius: 1rem;
    overflow: hidden;
  }
  .address2 {
    display: flex;
    column-gap: 1.5rem;
  }
  .address2 > div p {
    max-width: 20ch;
  }
  .address h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--peach);
    text-transform: capitalize;
  }
  .inverse__container .address {
    grid-column: 2;
  }
  .address {
    background-color: var(--verylightpeach);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5rem;
    background-image: url(../../public/assets/shared/desktop/bg-pattern-three-circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    row-gap: 1.5rem;
  }
  .inverse__container .image {
    grid-column: 1;
    width: 100%;
  }
  
  .image img {
    border-radius: 1rem;
  }
  
  @media (max-width: 900px) {
    .container,
    .inverse__container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1.5rem;
      margin-bottom: 2.5rem;
      grid-auto-flow: dense;
    }
    .address {
      grid-row: 2;
    }
    .image {
      display: flex;
      grid-row: 1;
    }
    .inverse__container .address {
      grid-column: 1;
    }
    .image img {
      max-height: 330px;
      width: 100%;
      object-fit: cover;
    }
  }
  
  @media (max-width: 680px) {
    .wrapper {
      padding: 0;
    }
    .container > *,
    .inverse__container > * {
      border-radius: 0;
    }
    .image img {
      border-radius: 0;
    }
    .wrapper article:not(:last-of-type) {
      margin-bottom: 7rem;
    }
  }
  /* location container */
  