.wrapper{
    padding: 0 2rem;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--peach);
    text-align: center;
    padding: 4rem 0;
    color: white;
    background-image: url(../../public/assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-repeat: no-repeat;
    background-position: 45%, center;
    background-size: cover;
    border-radius: 1rem;
}
.banner h1{
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 1.5rem;
}
.banner p{
    max-width: 40ch;
    text-align: center;
}

/* grid */

.grid__projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 1rem;
    padding: 7rem 0;
}

/* other projects */

.other__projects{
    display: flex;
    height: 250px;
    column-gap: 1rem;
    margin-bottom: 4rem;
}
.other__projects > *{
    flex: 1;
}

@media (max-width:800px){
    .other__projects{
        flex-direction: column;
        column-gap: 0;
        row-gap: 1rem;    
        height: 400px;
    }
}
@media (max-width:400px){

    .grid__projects{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 5rem 0;
    }
    .banner h1{
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 1.5rem;

    }
    .banner p{
        max-width: 100%;
        text-align: center;
        padding: 0 1.5rem;
    }
}